[Unit]
Description=Prometheus node exporter
StartLimitBurst=5
StartLimitIntervalSec=300

[Service]
Type=exec
ExecStart=node_exporter
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
