[Unit]
Description=Promtail
StartLimitBurst=5
StartLimitIntervalSec=300

[Service]
Type=exec
ExecStart=bash -c 'promtail -config.file /etc/promtail/config.yaml -client.external-labels node="$(curl -fsSL http://169.254.169.254/latest/meta-data/instance-id)"'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
