[Unit]
Description=Riju online coding sandbox
Requires=docker.service
After=docker.service

[Service]
Type=exec
ExecStart=riju
Restart=always

[Install]
WantedBy=multi-user.target
