[Unit]
Description=Riju online coding sandbox

[Service]
ExecStart=docker run --rm -p 0.0.0.0:80:6119 riju:prod

[Install]
WantedBy=multi-user.target
