body {
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
}

.column {
  width: 50%;
  height: 100%;
  float: left;
}

#editor {
  overflow: hidden;
}

#terminal {
  background: black;
}

#runButton {
  position: absolute;
  top: 25px;
  right: calc(50% + 25px);
}
