html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(#ddd 1px, transparent 0),
    radial-gradient(#ddd 1px, transparent 0);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rijuEdutor {
  overflow: hidden;
  height: calc(100% - 8px);
}
